
<!-- <!DOCTYPE html> -->
<html>
    <head>
        <meta charset="utf-8">
        <title> WORDBOOK </title>
    </head>
    
    <body>
    <center>
    <h4> 기록할 단어를 입력하세요. </h4>

    <form action= "/add" method="post">
        <label>단어: </label>
        <input name="word" type="text"><br><br>
        
        <label>분야: </label>
        <input name="area" type="text"><br><br>
        
        <label>의미: </label>
        <input name="mean" type="text"><br><br>
        
        <input type="submit" value="추가">

    </form> 
    </center>
    </body>
</html>